<div class="toast-container" id="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast toast-{{ toast.type }}" id="toast-{{ toast.id }}">
      <span class="material-icons-round toast-icon">
        @switch (toast.type) {
          @case ('success') { check_circle }
          @case ('error') { error }
          @case ('info') { info }
        }
      </span>
      <span class="toast-message">{{ toast.message }}</span>
      <button class="toast-close" (click)="toastService.dismiss(toast.id)">
        <span class="material-icons-round">close</span>
      </button>
    </div>
  }
</div>
